// ******************************************************************************
// *                                                                            *
// *                              BASE16 — Monokai                              *
// *                                                                            *
// ******************************************************************************
// Color scheme "Monokai" by Wimer Hazenberg:
// 
//  -- http://www.monokai.nl
// 
// Ported from YAML to SCSS by Tristano Ajmone, based on the source file from
// Chris Kempson's Base16 project (MIT License):
// 
//  -- https://github.com/chriskempson/base16-builder/blob/master/schemes/monokai.yml

$chroma: define-color-scheme('b16-Monokai', 'Base16 "Monokai" scheme.');


$chroma: add-colors('b16-Monokai', (
	base00: #272822, // Rangoon Green ( almost black )
	base01: #383830, // Armadillo ( almost black )
	base02: #49483e, // Fuscous Gray ( blackboard-like brown )
	base03: #75715e, // Crocodile
	base04: #a59f85, // Tallow
	base05: #f8f8f2, // Bianca
	base06: #f5f4f1, // Pampas
	base07: #f9f8f5, // Desert Storm
	base08: #f92672, // Rose ( red )
	base09: #fd971f, // West Side  ( intense orange )
	base0A: #f4bf75, // Rajah  ( orange )
	base0B: #a6e22e, // Inch Worm ( green )
	base0C: #a1efe4, // Water Leaf ( cyan/turquoise )
	base0D: #66d9ef, // Sky Blue
	base0E: #ae81ff, // Lavender ( purple )
	base0F: #cc6633, // Piper ( bick red )
));

// ==============================================================================
//                                The MIT License                                
// ==============================================================================
// Copyright (c) 2017 Tristano Ajmone <tajmone@gmail.com>
// Copyright (c) 2012 Wimer Hazenberg
// Copyright (c) 2012 Chris Kempson
// 
// Permission is hereby granted, free of charge, to any person obtaining
// a copy of this software and associated documentation files (the
// "Software"), to deal in the Software without restriction, including
// without limitation the rights to use, copy, modify, merge, publish,
// distribute, sublicense, and/or sell copies of the Software, and to
// permit persons to whom the Software is furnished to do so, subject to
// the following conditions:
// 
// The above copyright notice and this permission notice shall be
// included in all copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
// EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
// MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
// NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
// LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
// OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
// WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
